@use "../custom"as *;
footer{
    background-color: $footer;

    .footer-icon{
        font-size: 3rem ;
        color: $primary;
       
            }
        .phone-icon{
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
        }
        h3{
            font-size: 1.2rem;
        }
        p{
            color: $gray-600;
        }
    hr{
        color: $gray-600;
    }
    li{
        cursor: pointer;
        &:hover{
            color: $primary;
        }
    }


    }