@use "../custom" as *;
@use "../components/mixins" as *;


.menu{
    min-height: 80px;
    @include gradient;
  
    .navbar-brand{
        font-size: 30px;
        font-weight: 700;
    }
    .logo{
        font-weight: 900;
    }

    li{
        padding: 0 .7rem;
        a{
            color: $white !important;
            font-weight: 600;
        }
    }

}

