@use "../custom" as *;

.services{
    img{
        max-width: 90%;
        @include media-breakpoint-down(sm){
            display: none;
        }
    }
    .bord{
       @media all and (max-width: 750px) {
           border: none;
       }
    }
    .icon{
        color: $purple-light;
        @include media-breakpoint-down(sm){
            font-size: .8rem;        }
    }
    h3{
        font-size: 1.8rem;
        font-weight: 600;
        background:linear-gradient(to right , $primary, $secondary);
        -webkit-background-clip: text;
        background-clip:text;
        -webkit-text-fill-color: transparent;
        @include media-breakpoint-down(sm){
            font-size: 1rem;      
            padding-top: .5rem;
          }
    }
    p{
        @include media-breakpoint-down(sm){
            font-size: .8rem;
        }
    }
}