@use "../custom" as *;



// gradient background 
@mixin gradient {
    background: linear-gradient(to right , rgba($primary , 0.95), rgba($secondary , 0.95));
    
}

// center an element 
@mixin positionCenter {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    -webkit-transform: translate(-50% ,-50%);
    -moz-transform: translate(-50% ,-50%);
    -ms-transform: translate(-50% ,-50%);
    -o-transform: translate(-50% ,-50%);
}
